version: "3.9"

services:
  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    env_file:
      - ./backend/.env.staging
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env.staging
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
